/* 
    Document   : worldmap.css
    Created on : 15 déc. 2011, 15:51:09
    Author     : Pierre
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
